@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h4 class="display-32" style="background-color: lightgray" >
        Anders Børjesson (anbo)
        <br /> Cand.scient. i matematik og datalogi
        <br /> Lektor på Datamatikeruddannelsen
        <br /> Zealand, Sjællands Erhvervsakademi, Roskilde
    </h4>
    <div class="row">
        <div class="col-sm">
            <p class="text-left">
                Address (Work): Maglegårdsvej 2
                <br /> 4000 Roskilde
                <br /> E-mail (work): anbo@zealand.dk
            </p>
        </div>
        <div class="col-sm">
            <p class="text-right, align-content-center">
                <a href="https://anbo-easj.dk/cv/">CV</a>
            </p>
        </div>
    </div>
</div>

<div class="dropdown-divider"></div>
<br />

<footer class="container, fixed-bottom">
    <div class="MyColumns">
        <div class="row" style="border-bottom-style: solid; border-top-style: solid;">
            <div class="col-sm">
                <strong>Teaching autumn 2019</strong>
                <p>
                    <br /> <a style="color: black" href="https://docs.google.com/document/d/e/2PACX-1vQnP5GDXd2YmuUapbnNgaUAK-4gsDtZGDl-qZT-g3xsUCSvPhfr1OTdo7esf_b3qm3ypfQSwMuz5Mab/pub">Programmering 3sem Datamatiker</a>
                    <br /> <a style="color: black" href="https://docs.google.com/document/d/e/2PACX-1vQSdR7ZSr7DfFCc8SC0tSqz8VaLKHN8LCGRmfxTFVnl1GgkHnk_Wr_-7r_Lr5EX-qpOt7sBzo6SmHH0/pub">Mobile Application Development, 4th semester Comp Science</a>
                    <br /> <a style="color: black" href="https://anbo-easj.dk/internship/index.html">Internship, 5th semester, Comp Science</a>
                    <br /> <a style="color: black" href="https://anbo-easj.dk/dissertation2020spring/">Dissertation course Dissertations, Computer Science</a>
                </p>
            </div>
            <div class="col-sm">
                <strong>Teaching spring 2019</strong>
                <p>
                    <br /> <a style="color: black" href="https://anbo-easj.dk/mobile2019spring/index.html">Mobile Application Development, 4th semester Comp Science</a>
                    <br /> <a style="color: black" href="https://anbo-easj.dk/internship/index.html">Internship, 5th semester, Comp Science</a>
                    <br /> <a style="color: black" href="https://anbo-easj.dk/dissertation2019spring/">Dissertation course Dissertations, Computer Science</a>
                </p>
            </div>
            <div class="col-sm">
                <strong>Teaching autumn 2018</strong>
                <p>
                    <br /> <a style="color: black" href="https://anbo-easj.dk/prog3_2018autumn/index.html">Programmering, 3rd semester, Comp Science</a>
                    <br /> <a style="color: black" href="https://anbo-easj.dk/mobile2018autumn/index.html">Mobile Application Development, 4th semester Comp Science</a>
                    <br /> <a style="color: black" href="https://anbo-easj.dk/internship/index.html">Internship, 5th semester, Comp Science</a>
                    <br /> <a style="color: black" href="https://anbo-easj.dk/dissertation2018autumn/">Dissertation course Dissertations, Computer Science</a>
                    <br /> <a style="color: black" href="https://anbo-easj.dk/undervisning/">Previous semesters</a>
                </p>
            </div>
        </div>
    </div>
    <br/>
    <div class="BottomLinks">
        <div class="text-left">
            <p>
                <a href="https://msdn.microsoft.com/en-us/default.aspx">Microsoft Developer Network</a> | <a href="https://msdn.microsoft.com/en-us/library/default.aspx">MSDN Library: Intro. til programmeringssprog mv.</a>
                <br /> <a href="https://anbo-easj.dk/bekendtgoerelser/">Bekendtgørelser</a> om datamatiker-uddannelsen, eksamen og lign. <a href="https://anbo-easj.dk/index.htm">index</a>
            </p>
        </div>
    </div>
</footer>


